@{
    ViewData["Title"] = "Probando Cambiar el titulo a ver si lo levanta de aca mismo"; //Si, lo levanta de aca
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
